body{
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	background: #fff;
}

.mainbody{
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	right: 75%;
}

.col1, .col2{
	float: left;
	position: relative;
	padding: 0 0 1em 0;
}

.col1{
	width: 71%;
	left: 102%;
}

.col2{
	width: 21%;
	left: 6%;
}